#clock {
    margin: auto;
    font-family: courier, monospace;
    text-align: center;
    color: #428bca;
    font-size: 50px;
}


a {
    color: #3498db;
    text-decoration: none;
}

.navbar-brand {
    font-size: 25px;
}

p.navbar-text {
    float: left;
    margin-top: 18px;
}


.header .decoration {
    margin-bottom: 20px;

}

.header-logo {
    background-image: url("../images/header-logo2.png");
    background-size: 100px 22px;
    float: left;
    height: 22px;
    margin-top: 9px;
    width: 100px;
}

.decoration {
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
    display: block;
    height: 1px;
    margin-bottom: 30px;
    position: relative;
    z-index: 30 !important;
}

#preloader {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999;
}

ul {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}


ul li {
    float: left;
    width: 50%;
    list-style: outside none none;
    margin-bottom: 20px;
    line-height: 18px;
}

ul li a {
    padding-top: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}




.fa {
    font-family: Glyphicons Halflings;
    display:block;
}



ul li i {
    border-radius: 50%;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 20px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align:center;
    transform: scale(1, 1);
    transition: all 150ms ease 0s;
}



ul li i:hover {
    transform:scale(1.1,1.1);
    transition: all 150ms ease 0s;
    text-decoration:none;
}

.fa-power{
    background: url('icons/svg/house.svg') no-repeat top 35% left 50%;
    background-size:60%;
}

.fa-settings{
    background: url('icons/svg/settings.svg') no-repeat top 50% left 50%;
    background-size:60%;
    fill: #000;
}

.fa-son{
    background: url('icons/svg/headphones.svg') no-repeat top 40% left 50%;
    background-size:60%;
}

.fa-start{
    background: url('icons/svg/play-button.svg') no-repeat top 50% left 50%;
    background-size:60%;
}
.fa-recycling{
    background: url('icons/svg/recycling.svg') no-repeat top 50% left 50%;
    background-size:60%;
}
.fa-stop{
    background: url('icons/svg/stop.svg') no-repeat top 50% left 50%;
    background-size:60%;
}

.fa-automate{
    background: url('icons/svg/timer.svg') no-repeat top 35% left 50%;
    background-size:60%;
}



.bg-red1 {
    background-color: #e74c3c !important;
}

.bg-green2 {
    background-color: #27ae60 !important;
}

.bg-blue2 {
    background-color: #2980b9 !important;
}

.bg-magenta2 {
    background-color: #8e44ad !important;
}

em {
    color: #1f1f1f;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.8;
    padding-top: 10px;
    text-align: center;
}


/* entire container, keeps perspective */
.flip-container {
    perspective: auto;
    margin-bottom: 28px;
}
	/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    text-align: center;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.back a {
    color:#fff;
    font-size: 20px;
}

.right,
.left {
    height: 100px;
    line-height: 100px;
    width: 50px;
    display:table-cell;
    text-align:center;
    vertical-align: center;
}

.right {
    background: #e74c3c;
    margin-bottom: 1em;
    border-bottom-right-radius: 200px;
    border-top-right-radius:200px;
}

.left {
    background: #27ae60;
    margin-bottom: 1em;
    border-bottom-left-radius:200px;
    border-top-left-radius: 200px;
}

@media (max-width: 600px) {
    /* CSS that should be displayed if width is equal to or less than 600px goes here */
    ul li i {
        font-size: 250%;
        height: 65px;
        line-height: 65px;
        margin-bottom: 0;
        width: 65px;
    }
    .right,
    .left {
        height: 65px;
        line-height: 65px;
        width: 32.5px;
    }
    .flip-container, .front, .back  {
        width: 65px;
    }
}
