<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <body>
    <!-- Navbar -->
    {% with namepage="Ajouter une  web-radio" %}
        {% include 'navbar.html' %}
    {% endwith %}
    <div class="container">
        <div class="page-header">
          <h1>Ajouter une web-radio</h1>
        </div>
        <form class="form-horizontal" action="/addwebradio" method="post">

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">
                       Nom
                    </label>
                    <div class="col-sm-4">
                                     <input type="text" class="form-control" id="label" placeholder="Label name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="url" class="col-sm-2 control-label">
                       Url
                    </label>
                    <div class="col-sm-4">
                                     <input type="text" class="form-control" id="url" placeholder="Label url">
                    </div>
                </div>
            <div class="form-group">
          <div class="col-sm-offset-1 col-sm-1">
            <button onclick="goAddWebRadio()" class="btn btn-primary">Save</button>
          </div>
            </div>
        </form>
    </div>
    
  </body>
</html>
