<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <body>
      {% with namepage="Liste des actions" %}
        {% include 'navbar.html' %}
    {% endwith %}
    <div class="container">
         <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="/addCronAction" style="margin-bottom: 3px" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></a>  Alarm clock</legend>
            <!-- list of saved web radio -->

            <table class="table">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Day of week</th>
                        <th>On Time</th>
                        <th>Off Time</th>
                        <th>Bouton</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                  {% if listAlarm is defined %}
                    {% for alarmclock in listAlarm %}
                        <tr>
                            <th>
                                {{alarmclock.label}}
                            </th>
			    <th>
                              <div class="col-xs-1"><span class="text-{% if "1" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Mo</span></div>      \

			      <div class="col-xs-1"><span class="text-{% if "2" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Tu</span></div>
			      <div class="col-xs-1"><span class="text-{% if "3" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">We</span></div>
			      <div class="col-xs-1"><span class="text-{% if "4" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Th</span></div>
			      <div class="col-xs-1"><span class="text-{% if "5" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Fr</span></div>
			      <div class="col-xs-1"><span class="text-{% if "6" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Sa</span></div>
			      <div class="col-xs-1"><span class="text-{% if "0" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Su</span></div>
			    </th>
			    <th>
                                {% if alarmclock.onhour < 10 %}
                                    0{{alarmclock.onhour}}
				{% else %}
					{{alarmclock.onhour}}
                                {% endif %}
                                :
                                {% if alarmclock.onminute < 10 %}
                                    0{{alarmclock.onminute}}
				{% else %}
					{{alarmclock.onminute}}
                                {% endif %}
                            </th>
                            <th>
                                {% if alarmclock.offhour < 10 %}
                                    0{{alarmclock.offhour}}
				{% else %}
					{{alarmclock.offhour}}
                                {% endif %}
                                :
                                {% if alarmclock.offminute < 10 %}
                                    0{{alarmclock.offminute}}
				{% else %}
					{{alarmclock.offminute}}
                                {% endif %}
                            </th>
                            <th>
                              	{{alarmclock.name}}
                            </th>
                            <th>
                                <a href="delete/{{alarmclock.id}}"style="margin-bottom: 3px" type="button" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a> 
                            </th>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <p class="lead text-primary">No alarm clock set yet.</p>
                    {% endif %}
                </tbody>
            </table>
        </fieldset >  
    </div>
    
  </body>
</html>
