<head>
    <title>Home Alone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Boostrap -->
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script src="../static/addCronAction.js"></script>
    <script src="../static/addWebRadio.js"></script>
    <!-- personal CSS -->
    <link href="../static/piclodio.css" rel="stylesheet">
     <!-- personal JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.wheelmenu.js"></script>
</head>
