<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <script src="../static/clock.js"></script>
  <body>
    {% with namepage="Home Alone" %}
    {% include 'navbar.html' %}
    {% endwith %}

    <fieldset class="scheduler-border">
      <legend class="scheduler-border"><a href="/" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>  Rpi date and time</legend>
      <div style="text-align: center">
        <strong class="text-primary"><div id="clock">{{ clock }}</div></strong>
      </div>
    </fieldset>
        </br>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border"><a href="/"
                                              style="margin-bottom: 3px" type="button" class="btn
                                                                                              btn-primary btn-sm"><span class="glyphicon
                                                                                                                               glyphicon-cog"></span></a>  Boutons</legend>
          {% for result in switchs %}

          <p style="text-align:
                    center;"class="lead">{{result.name}}</p><div class="btn-group
                                                                        btn-group-justified" style="margin-bottom: 20px">
	    <a href="/send_code/{{result.code_on}}"
	       id="play" class="btn btn-primary btn-lg">Allumer</a>
            <a href="/send_code/{{result.code_off}}"
	       id="stop" class="btn btn-default btn-lg">Eteindre</a>
          </div>
          {% endfor %}
          {% for radio in radios %}
          {% if radio.selected %}
          <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="/webradio/"
                                                style="margin-bottom: 3px" type="button" class="btn
                                                                                                btn-primary btn-sm"><span class="glyphicon
                                                                                                                                 glyphicon-cog"></span></a> {{radio.name}} </legend>
            <div class="btn-group btn-group-justified" style="margin-bottom: 20px">
              <a href="/play/{{radio.id}}" id="play" class="btn btn-{% if
                                                            radio.playing == False %}primary{% else
                                                            %}default{% endif %} btn-lg">Play</a>
              <a href="/stop/" id="stop" class="btn btn-{% if
                                                radio.playing == True %}primary{% else %}default{%
                                                endif %} btn-lg">Stop</a>
            </div>
          </fieldset>
          {% endif %}
          {% endfor %}
          <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="cronActionsList"
                                                style="margin-bottom: 3px" type="button" class="btn
                                                                                                btn-primary btn-sm"><span class="glyphicon
                                                                                                                                 glyphicon-cog"></span></a> Allumage automatique</legend>
            <table class="table">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Jour(s) de la semaine</th>
                  <th>On</th>
                  <th>Off</th>
                  <th>Bouton</th>
                </tr>
              </thead>
              <tbody>
                {% if listAlarm is defined %}
                {% for alarmclock in listAlarm %}
                <tr>
                  <th>
                    {{alarmclock.label}}
                  </th>
                  <th>
                    <div class="col-xs-1"><span class="text-{% if "1" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Mo</span></div>                      
                    <div class="col-xs-1"><span class="text-{% if "2" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Tu</span></div>
                    <div class="col-xs-1"><span class="text-{% if "3" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">We</span></div>
                    <div class="col-xs-1"><span class="text-{% if "4" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Th</span></div>
                    <div class="col-xs-1"><span class="text-{% if "5" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Fr</span></div>
                    <div class="col-xs-1"><span class="text-{% if "6" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Sa</span></div>
                    <div class="col-xs-1"><span class="text-{% if "0" in alarmclock.dayofweek  %}primary{% else %}muted{% endif %}">Su</span></div>
                  </th>
                  <th>
                    {% if alarmclock.onhour < 10 %}
                                              0{{alarmclock.onhour}}
                                              {% else %}
                                              {{alarmclock.onhour}}
                                              {% endif %}
                                              :
                                              {% if alarmclock.onminute < 10 %}
                                                                          0{{alarmclock.onminute}}
                                                                          {% else %}
                                                                          {{alarmclock.onminute}}
                                                                          {% endif %}
                                                                          </th>
                  <th>
                    {% if alarmclock.offhour < 10 %}
                                               0{{alarmclock.offhour}}
                                               {% else %}
                                               {{alarmclock.offhour}}
                                               {% endif %}
                                               :
                                               {% if alarmclock.offminute < 10 %}
                                                                            0{{alarmclock.offminute}}
                                                                            {% else %}
                                                                            {{alarmclock.offminute}}
                                                                            {% endif %}
                                                                            </th>
                  <th>
                    {{alarmclock.name}}
                  </th>
                </tr>
                {% endfor %}
                {% else %}
                <p class="lead text-primary">No alarm clock set yet.</p>
                {% endif %}
              </tbody>
            </table>

          </fieldset>
</div>
</body>
</html>
