<!-- Navbar -->
 <div id="preloader" style="display: none;">
	<div id="status" style="display: none;">
    	<p class="center-text">
			Loading the content...
                        <em>Loading depends on your connection speed!</em>
        </p>
        </div>
 </div>
 <div class="container">
   <div class="header nav-down">
    <a class="navbar-brand" href="/">Home-Alone</a><p class="navbar-text">{{ namepage }}</p>
        <div class="decoration"></div>
    </div>
