<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <script src="../static/clock.js"></script>
  <body>
    {% with namepage="Home Alone" %}
    {% include 'navbar.html' %}
    {% endwith %}

  <ul>
    <li>
      <a href="/simpleSwitchList/">
        <i class="fa fa-power bg-blue2"></i>
        <em>Chauffage</em>
      </a>
    </li>
    <li>
      <a href="/simpleRadioList/">
        <i class="fa fa-son bg-green2"></i>
        <em>Son</em>
      </a>
    </li>
    <li>
      <a href="/cronActionsList/">
        <i class="fa fa-automate bg-magenta2"></i>
        <em>Programme</em>
      </a>
    </li>
    <li>
      <a href="/admin/">
        <i class="fa fa-settings bg-red1"></i>
        <em>Administration</em>
      </a>
    </li>
  </ul>
</div>
</body>
</html>
