<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <body>
    {% with namepage="Liste des radios" %}
    {% include 'navbar.html' %}
    {% endwith %}
  <ul>
 <li>
      <div class="flip-container"
     onclick="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
              <i class="fa fa-power bg-green2"></i>
              <em>Ampli</em>
            </div>
            <div class="back">
              <div class="left">
                <a href="/send_code/969827841">
                  On
                </a>
              </div>
              <div class="right">
                <a href="/send_code/902718977">
                  Off
                </a>
              </div>

              <em>Ampli</em>
            </div>
        </div>
      </div>
 </li>
  <li>
        <a href="/reloadSound/">
          <i class="fa fa-recycling bg-green2"></i>
          <em>Reload Sound</em>
        </a>
    </li>
    {% for radio in listradio %}
    <li>
      {% if radio.playing %}
      <a href="/stop/">
        <i class="fa fa-stop bg-green2"></i>
        {% else %}
        <a href="/play/{{radio.id}}">
          <i class="fa fa-start bg-green2"></i>
           {% endif %}
          <em>{{radio.name}}</em>
        </a>
    </li>
    {% endfor %}
  </ul>
</div>
  </body>
</html>
