<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <script src="../static/clock.js"></script>
  <body>
    {% with namepage="Liste des boutons" %}
    {% include 'navbar.html' %}
    {% endwith %}
  <ul>
    {% for switch in switchs %}
    <li>
      <div class="flip-container"
     onclick="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
              <i class="fa fa-power bg-blue2"></i>
              <em>{{switch.name}}</em>
            </div>
            <div class="back">
              <div class="left">
                <a href="/send_code/{{switch.code_on}}">
                  On
                </a>
              </div>
              <div class="right">
                <a href="/send_code/{{switch.code_off}}">
                  Off
                </a>
              </div>

              <em>{{switch.name}}</em>
            </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
  </body>
</html>
