<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <body>
    <!-- Navbar -->
    {% with namepage="Web radio" %}
        {% include 'navbar.html' %}
    {% endwith %}

    <div class="container">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="/addwebradio/" style="margin-bottom: 3px" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></a>  Web Radio</legend>
            <!-- list of saved web radio -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Play</th>
                        <th>Edit</th>
                        <th>Delete</th>
                </thead>
                <tbody>
                  {% if listradio is defined %}
                      {% for radio in listradio %}
                        <tr>
                            <th>
                                {{radio.name }}
                            </th>
                            <th>
                              {% if radio.playing %}
                               <a href="/stop/" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-stop"></span>
                               </a>

                              {% else %}
                               <a href="/play/{{radio.id}}" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-play"></span>
                               </a>
                               {% endif %}
                            </th>
                            <th>
                               <a href="update_webradio/{{radio.id}}" style="margin-bottom: 3px" type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                               </a>
                            </th>
                            <th>
                                <a href="delete/{{radio.id}}"style="margin-bottom: 3px" type="button" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a> 
                            </th>
                        </tr>
    
                        {% endfor %}
                        {% else %}
                    <p>No web radio set yet. </p>
                    {% endif %}
                </tbody>
            </table>
        </fieldset >   
           
    </div>
    
  </body>
</html>
